<div class="row">
    <div class="col s12 m8 l8">

      <div *ngIf="loading" class="progress" [ngStyle]="{'backgroundColor': bg_color}">
          <div class="indeterminate"></div>
      </div>

      <p-messages [value]="msgs"></p-messages>
      <p-growl [value]="alerts"></p-growl>

      <div class="card-panel" *ngIf="!loading">
        <p-confirmDialog header="Exclusão de Igrejas"
                        acceptLabel="Sim"
                        rejectLabel="Não"
                        icon="fa fa-question-circle" width="425">
        </p-confirmDialog>

        <div class="card-panel lighten-2 white-text" [ngStyle]="{'backgroundColor':bg_color}">
         <div class="left"> Listando {{totalIgrejas}} igrejas
         </div>
        </div>

          <p-dataTable [value]="igrejas"
                       [rows]="5"
                       [paginator]="true"
                       [globalFilter]="gb"
                       selectionMode="single"
                       [(selection)] = "igrejaSelecionada"
                       [responsive]  ="true"
                       #dt>
             <p-column [style]="{'width':'20%'}">
               <ng-template let-igreja="rowData" pTemplate="body">
                 <a [routerLink]="igreja.id"> <i class="small material-icons">mode_edit</i></a>
                 <a> <i class="small material-icons">search</i></a>
                 <a (click)="deleteConfirm(igreja)"> <i class="small material-icons">delete</i></a>
               </ng-template>
             </p-column>
             <p-column field="nome" header="Nome" [filter]="true" filterPlaceholder="Procurar..."></p-column>

          </p-dataTable>
          <a class="right btn-floating btn-large waves-effect waves-light green"
             routerLink="add">
            <i class="material-icons">add</i>
          </a>
      </div>

    </div>


  </div>
