
<div class="tile p-15">
    <form role="form" (submit)="login($event, username.value, senha.value)">
        <div *ngIf="erro" class="erro">
          {{erroMsg}}
        </div>

        <div *ngIf="loading" class="progress">
            <div class="indeterminate"></div>
        </div>
        <div class="form-group">
            <input type="text" #username class="form-control input-field" id="email" placeholder="email@provedor.com" required>
        </div>

        <div class="form-group">
            <input type="password" #senha class="form-control input-field" id="password" placeholder="senha..." required>
        </div>
        <button type="submit" class="btn btn-sm m-t-10">Login</button>
        <!-- <a [routerLink]="['/logout']" class="btn btn-sm m-t-10">Esqueci a senha</a> -->
    </form>
</div>
