.nav-wrapper{
  background-color: #2aa8f6;
}

.collapsible li.active i, .collapsible2 li.active i  {
-ms-transform: rotate(180deg); /* IE 9 */
-webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
transform: rotate(180deg);
}
