<nav *ngIf="showMenu">

  <ul id="slide-out" class="side-nav">
    <li>
      <div class="userView">

      <div class="background" [ngStyle]="{'background-color': bg_color}">
        <img src="assets/imgs/sisatos-bkgd.fw.png" />
      </div>

      <a href="#!user"><img class="circle" src="assets/imgs/login_icon.jpg"></a>
      <a href="#!name"><span class="white-text name">{{login.nome}}</span></a>
      <a href="#!email"><span class="white-text email">{{login.email}}</span></a>

    </div>
  </li>

  <li>
    <a materialize="dropdown" class="dropdown-button" href="#!" data-activates="dropdown_modulos">
      Módulos<i class="material-icons right">view_module</i>
    </a>
  </li>

  <ul id='dropdown_modulos' class='dropdown-content'>
    <li *ngFor="let modulo of modulos; let i=index" (click)="loadModulo(modulo)">
      <a [ngStyle]="{'color': bg_color }"> {{ modulo.nome }}</a>
    </li>
  </ul>


  <div *ngIf="moduloCarregado; else moduloNaoCarregado">
    <ul id="nav-mobile" *ngFor="let menu of menus; let i=index">
      <!-- 1 Nível, sem submenus -->
      <li class="bold" *ngIf="menu.submenus === NULL"><a [routerLink]="menu.link">{{ menu.nome }}</a></li>
      <!-- 1 Nível, com submenu -->
      <li class="bold" *ngIf="menu.submenus" class="no-padding">
        <ul *ngIf="menu.submenus" materialize="collapsible" class="collapsible" data-collapsible="accordion">
            <li class="bold">
                <a class="collapsible-header waves-effect">{{menu.nome}}<i class="material-icons">arrow_drop_down</i></a>
                <div class="collapsible-body">
                    <ul *ngFor="let submenu of menu.submenus">
                        <!-- 2 Nivel, sem submenus -->
                        <li class="bold" *ngIf="submenu.submenus === NULL" [ngStyle]="{'background-color': bg_color}">
                          <a [routerLink]="submenu.link"><span class="white-text name">{{ submenu.nome }}</span></a>
                        </li>
                        <!-- 2 Nivel, com submenus -->
                        <li class="bold" *ngIf="submenu.submenus" class="no-padding">
                          <ul *ngIf="submenu.submenus" materialize="collapsible" class="collapsible2" data-collapsible="accordion">
                            <li class="bold">
                              <a class="collapsible-header waves-effect">{{submenu.nome}}<i class="material-icons">arrow_drop_down</i></a>
                              <div class="collapsible-body">
                                <ul>
                                  <!-- 3 Nivel -->
                                  <li class="bold" *ngFor="let subII of submenu.submenus" [ngStyle]="{'background-color': bg_color}">
                                    <a [routerLink]="subII.link"><span class="white-text name">{{subII.nome}}</span></a>
                                  </li>
                                </ul>
                              </div>
                            </li>
                          </ul>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
      </li>
    </ul>
</div>

<ng-template #moduloNaoCarregado>
  <ul>
    <li><a>::Escolha um módulo::</a></li>
  </ul>
</ng-template>

    <li><div class="divider"></div></li>
    <li><a class="waves-effect" href="#!" (click)="logout()" ><i class="material-icons">exit_to_app</i>Sair</a></li>
  </ul>


  <div class="nav-wrapper" [ngStyle]="{ 'background-color': bg_color }">

    <a href="#" data-activates="slide-out"
                materialize="sideNav"
                [materializeParams]="[{closeOnClick:true}]"
                class="brand-logo">
      <i class="material-icons">menu</i>

    </a>

    <ul class="right hide-on-med-and-down">
      <li  *ngFor="let modulo of modulos; let i=index"
            [ngClass]="{'active': modulo.id == moduloAtual.id }"
          (click)="loadModulo(modulo)"><a> {{ modulo.nome }}</a> </li>
      <li class="active"><a href="#" (click)="logout()">Sair</a></li>
    </ul>

  </div>
</nav>
