<h5>{{ title }}</h5>
<div class="row" *ngIf="loading === false; else formIgrejaNotLoaded">
  
  <form materialize class="col s12" [formGroup]="form" (ngSubmit)="onSave()">

    <div *ngIf="loading" class="progress" [ngStyle]="{'backgroundColor': bg_color}">
        <div class="indeterminate"></div>
    </div>

    <p-messages [value]="msgs"></p-messages>
    <p-growl [value]="alerts"></p-growl>

    <div class="row">
      <div class="input-field col s3">
        <i class="material-icons prefix"> </i>
        <input id="codigo" type="text" class="validate"
               [(ngModel)]="igreja.codigo" formControlName="codigo">
        <label for="nome">
          Código
        </label>
      </div>

      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input id="nome" type="text" class="validate"
               [(ngModel)]="igreja.nome" formControlName="nome"
               [class.invalid]="form.controls['nome'].touched && !form.controls['nome'].valid">
        <label for="nome"
               [class.active]="igreja.nome"
               data-error="Escreva pelo menos 4 caracteres">
          Nome
        </label>
      </div>

      <div class="input-field col s2">
        <input id="ativo" type="radio" class="validate" value="A"
               [(ngModel)]="igreja.status" formControlName="status"
               [class.invalid]="form.controls['status'].touched && !form.controls['status'].valid">
        <label for="ativo">
          Ativa
        </label>

        <input id="inativo" type="radio" class="validate" value="I"
               [(ngModel)]="igreja.status" formControlName="status"
               (click)="inativar(igreja)"
               [class.invalid]="form.controls['status'].touched && !form.controls['status'].valid">
        <label for="inativo">
          Inativa
        </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s7">
        <i class="material-icons prefix"> </i>
        <input id="cnpj" type="text" class="validate"
               [(ngModel)]="igreja.cnpj" formControlName="cnpj">
        <label for="nome">
          CNPJ
        </label>
      </div>

      <div class="input-field col s4">
        <i class="material-icons prefix">today</i>
        <input id="dtFundacao" type="date" class="validate"
               [(ngModel)]="igreja.dtFundacao" formControlName="dtFundacao">
         <label for="dtFundacao">
           Dt. Fundação
         </label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s3">
        <i class="material-icons prefix">phone</i>
        <input id="telefone" type="text" class="validate"
               [(ngModel)]="igreja.telefone" formControlName="telefone">
        <label for="telefone">
          Telefone
        </label>
      </div>

      <div class="input-field col s5">
        <i class="material-icons prefix">email</i>
        <input id="email" type="email" class="validate"
               [(ngModel)]="igreja.email" formControlName="email">
        <label for="email" data-error="E-mail inválido.">
          Email
        </label>
      </div>

      <div class="input-field col s3">
        <i class="material-icons prefix">website</i>
        <input id="website" type="text" class="validate"
               [(ngModel)]="igreja.website" formControlName="website">
        <label for="website">
          Website
        </label>
      </div>

    </div>

    <div class="row">
      <div class="col-xs-12">
        <button class="btn-floating btn-large waves-effect waves-light green" type="submit"
                [disabled]="!form.valid">
            <i class="material-icons">{{btnValue}}</i>
        </button>
        <a class="btn-floating btn-large waves-effect waves-light red"
        (click)="onCancel()">
            <i class="material-icons">replay</i>
        </a>
      </div>
    </div>
  </form>
</div>

<ng-template #formIgrejaNotLoaded>
  <div class="progress">
    <div class="indeterminate"></div>
  </div>
</ng-template>
