<div class="row">
    <div class="col s12 m8 l8">

      <div *ngIf="loading" class="progress" [ngStyle]="{'backgroundColor': bg_color}">
          <div class="indeterminate"></div>
      </div>

      <p-messages [value]="msgs"></p-messages>
      <p-growl [value]="alerts"></p-growl>

      <div class="card-panel" *ngIf="!loading">
        <p-confirmDialog header="Exclusão de Pessoa"
                        acceptLabel="Sim"
                        rejectLabel="Não"
                        icon="fa fa-question-circle" width="425">
        </p-confirmDialog>

        <div class="card-panel lighten-2 white-text" [ngStyle]="{'backgroundColor':bg_color}">
         <div class="left"> Listando {{totalPessoas}} pessoas
         </div>
        </div>

          <p-dataTable [value]="pessoas"
                       [rows]="5"
                       [paginator]="true"
                       [globalFilter]="gb"
                       selectionMode="single"
                       [(selection)] = "pessoaSelecionada"
                       [responsive]  ="true"
                       #dt>
             <p-column>
               <ng-template let-pessoa="rowData" pTemplate="body">
                 <a [routerLink]="pessoa.id"> <i class="small material-icons">mode_edit</i></a>
                 <a> <i class="small material-icons">search</i></a>
                 <a (click)="deleteConfirm(pessoa)"> <i class="small material-icons">delete</i></a>
               </ng-template>
             </p-column>
             <p-column field="nome" header="Nome" [filter]="true" filterPlaceholder="Procurar..."></p-column>

             <p-column header="Sexo" field="sexo"  [filter]="true" [style]="{'overflow':'visible'}" filterMatchMode="equals">
                 <ng-template pTemplate="filter" let-col>
                     <p-dropdown [options]="generos" [style]="{'width':'100%'}" (onChange)="dt.filter($event.value,col.field,col.filterMatchMode)" styleClass="ui-column-filter"></p-dropdown>
                 </ng-template>
             </p-column>

             <p-column field="dtNascimento" header="Dt Nascimento" [filter]="true" filterPlaceholder="Procurar...">
               <ng-template let-pessoa="rowData" pTemplate="body" let-col>
                 {{ pessoa.dtNascimento | date:'dd/MM/yyyy'}}
               </ng-template>
             </p-column>

             <p-column field="idGrupo" header="Grupo" [filter]="true" filterPlaceholder="n"></p-column>

          </p-dataTable>
          <a class="right btn-floating btn-large waves-effect waves-light green"
             routerLink="add">
            <i class="material-icons">add</i>
          </a>
      </div>

    </div>
    <div class="col s4 hide-on-small-and-down" *ngIf="!loading">
      <div class="card-panel">
         <div class="card-panel lighten-2 white-text" [ngStyle]="{'backgroundColor': bg_color}">{{tituloGrafico}}</div>
         <p-chart #chart type="pie" [data]="data" [options]="options"></p-chart>
      </div>
    </div>
  </div>
